// ****************************************
//               MIXINS
// ****************************************

@mixin bdr($bdr-color: magenta) {
  border: 1px solid $bdr-color;
}

@mixin flexbox(
  $direction: row,
  $wrap: nowrap,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin h-center {
  margin-right: auto;
  margin-left: auto;
}

// Media queries
@mixin for-medium-screens {
  @media screen and (min-width: 750px) {
    @content;
  }
}
@mixin for-large-screens {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
