// *********************************
//          VARIABLES
// *********************************

//  Background colors
$body-bg-color: #f6f9fe;
$btn-bg-color: #372865;

// Text colors
$headings-color: #353252;
$text-content-color: #858689;
