// **********************************
//       ATTRIBUTION FOOTER
// **********************************

.attribution-footer {
  font-size: 1.6rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: 2rem;

  a {
    background: linear-gradient(-70deg,$btn-bg-color, #f0afc7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
  }
}
