// *****************************
//       MAIN CONTAINER
// *****************************

.main-container {
  @include flexbox($direction: column, $justify: flex-start);
  background-color: $body-bg-color;
  min-height: 100vh;
  width: 100%;
}
