// *********************************
//          MAIN CONTENT
// *********************************

.main-content {
  @include flexbox($direction: column);
  width: 90%;
  max-width: 50rem;

  @include for-medium-screens {
    flex-direction: row;
    max-width: 80rem;
  }
  @include for-large-screens {
    width: 80%;
    max-width: 100rem;
  }
  &__illustration {
    display: none;
    @include for-medium-screens {
      animation: beat 1s 1s alternate infinite;
      display: block;
      padding-right: 5rem;
      order: -1;
      width: 50%;
    }
    @include for-large-screens {
      order: 1;
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  // Main section
  &__section {
    @include flexbox($direction: column);
    text-align: center;
    @include for-large-screens {
      text-align: left;
      align-items: flex-start;
    }
    &-title {
      color: $headings-color;
      font-size: 3.2rem;
      margin: 3rem auto;
      @include for-large-screens {
        font-size: 4rem;
      }
    }
    &-description {
      color: $text-content-color;
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
    &-advice {
      background-color: $btn-bg-color;
      border-radius: 3rem;
      color: #fff;
      font-size: 1.4rem;
      order: -1;
      padding: 2rem;
      width: 100%;
      @include for-large-screens {
        padding: 1rem;
        text-align: center;
        max-width: 45rem;
      }

      a {
        color: #fff;
        transition: all 0.5s;
        &:hover {
          font-weight: 700;
        }
        &:active {
          color: darkorchid;
        }
      }
    }
  }

  // Form
  &__form {
    width: 100%;
    max-width: 50rem;
    position: relative;
    @include for-large-screens {
      @include flexbox($justify: space-between);
    }

    label {
      @include for-large-screens {
        width: 65%;
        max-width: 40rem;
      }
    }

    input {
      border: 1px solid #bbb;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      outline: none;
      padding: 2rem;
      width: 100%;

      &::placeholder {
        color: #bbb;
      }
      @include for-large-screens {
        margin-bottom: 0;
      }
    }
    .invalid {
      border-color: red;
    }
    .warning {
      color: red;
      font-size: 1.6rem;
      display: block;
      margin-bottom: 1rem;
      z-index: -10;
      position: absolute;
      transform: translateY(-200%);
    }
    .active-warning {
      position: static;
      transform: translateY(0%);
      z-index: 10;
      @include for-large-screens {
        position: absolute;
        transform: translateY(250%);
      }
    }
    button {
      background-color: $btn-bg-color;
      border: none;
      border-radius: 0.5rem;
      color: #fff;
      cursor: pointer;
      font: {
        size: 1.6rem;
        weight: 700;
      }
      outline: none;
      padding: 2rem;
      width: 100%;
      transition: all 0.5s;

      &:hover {
        background-color: lighten($btn-bg-color, 10%);
      }
      &:active {
        background-color: $btn-bg-color;
        transform: scale(0.95);
      }
      @include for-large-screens {
        width: 30%;
        max-width: 15rem;
      }
    }
  }
}
@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
