// ***********************************
//          MAIN HEADER
// ***********************************

.main-header {
  @include flexbox($justify: space-between);
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  @include for-medium-screens {
    width: 90%;
    max-width: 80rem;
    margin: 5rem auto 8rem;
  }
  @include for-large-screens{
    width: 80%;
    max-width: 100rem;
  }

  &__logo {
    @include for-medium-screens {
      width: 20rem;
    }
  }
  &__navbar {
    @include bdr;
    position: relative;
    @include for-large-screens {
      width: 60%;
      max-width: 50rem;
    }
  }

  &__nav {
    @include flexbox($direction: column);
    list-style-type: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient($btn-bg-color, #f0afc7);
    transition: all 0.5s ease;
    transform: translateX(100%);
    @include for-large-screens {
      background: none;
      position: static;
      transform: translateX(0%);
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    &-link {
      font-size: 2rem;
      margin-bottom: 2rem;
      display: block;
      color: #fff;
      text-decoration: none;
      @include for-large-screens {
        color: #000;
      font-size: 1.6rem;
        margin-bottom: 0;
      }
    }
    .btn {
      background-color: $btn-bg-color;
      border-radius: .5rem;
      color: #fff;
      font-weight: 700;
      padding: 2rem;
    }
  }
  .active {
    transform: translateX(0%);
  }
}
